<ul>
    <li><a href="/">Home</a></li>
    <li><span class="active">About</span></li>
</ul>
<img src="images/logo.png" width="226" height="223" alt="">
<h1>Страница О нас</h1>
<blockquote>
    {{fortune}}
</blockquote>